.row {
  display: inline;
  height: 11.5vh;
  width: 12.5%;
}

.column {
  display: inline-block;
  margin-left: 0.25vw;
  height: 11.5vh;
  width: 12vw;
}

.blue-square {
  background: cornflowerblue;
}

.grey-square {
  background: grey;
}
