<div class="board">
  <div class="row" *ngFor="let row of range">
    <div class="column" [ngClass]="squareClass(col, row)"
         *ngFor="let col of range">
      <app-square
        [row]="row"
        [column]="col">
      </app-square>
    </div>
  </div>
</div>
